@import url(/src/styles/theme.css);

/* navbar styling */
@import url(/src/styles/standard-navbar.css);
/* footer styling */
@import url(/src/styles/standard-footer.css);


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

#spinning-image {
    animation: spin 1.3s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s ease;
    color: var(--text-on-primary);
}
.button:hover {
    background-color: var(--primary-color-darker);
}


@media (prefers-reduced-motion: reduce) {
    #spinning-image { animation: none; }
}