@import url('theme.css');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family-body);
}

.container {
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#spinning-image {
    animation: spin 1.3s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 30px;
    text-align: center;
    color: #000000;
    transition: background-color 0.3s ease;
    color: #ffffff;
}
.button:hover {
    background-color: var(--primary-color-darker);
}