@import url('/src/styles/theme.css');

/* --- Events Page Specific Styles --- */
.event-list-container h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    color: #fff;
}

.event-list {
    display: grid;
    grid-template-columns: 1fr; /* 1 column by default */
    gap: 1.5rem;
    padding-top: 2.5rem;
}

.event-card {
    background: var(--surface-color);
    border-left: 5px solid var(--primary-color);
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.event-details {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #ccc;
}

.event-details p {
    margin-bottom: 0.5rem;
}

.event-description {
    margin-top: 1rem;
}

/* Responsive layout for wider screens */
@media (min-width: 768px) {
    .event-list {
        /* Switch to 2 columns on tablets and larger */
        grid-template-columns: repeat(2, 1fr);
    }
}

.past-events-container h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    color: #fff;
}

.past-events-container ul {
    padding: 10pt;
}

.add-to-calendar-container { /* i want this on the right */
    margin-top: auto;
}

.add-to-calendar, .subscribe-to-calendar-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    font-family: var(--font-family-body);
    transition: background-color 0.3s ease;
    border: none;
}

.add-to-calendar:hover, .subscribe-to-calendar-button:hover {
    background-color: var(--primary-color-darker);
}

.subscribe-container {
    background-color: var(--surface-color);
    border-radius: 15px;
    padding: 2rem;
    margin: 1.5rem 0;
}

.subscribe-to-calendar-button a {
    color: #ffffff;
}