/*
Defines the root colors used by the website. Many other CSS files import this to set their colors and fonts.
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #ff3c3c;

    /* a darker variant of the primary color. good for hovering clickable items like buttons */
    --primary-color-darker: #d63030;

    --background-color: #1e1e1e;
    --surface-color: #2a2a2a;
    --text-color: #e0e0e0;
    --font-family-headings: 'Roboto Mono', monospace;
    --font-family-body: 'Roboto', sans-serif;
}