<!--
This is a standardized navbar to include into all pages.
It is loaded by the load-components.js script, along with footer.html.
If you want to edit the contents of the navbar, make those edits here.
If you want to edit how it looks, make those changes in the css files.
-->


<nav>
    <div class="container">
        <!-- this should be the like hamburger menu for mobile but currently its showing on the left, not the right, and has no function -->
        <button class="nav-toggle" aria-label="Toggle menu">☰</button>
        <ul class="nav-links">
            <li><a href="/" data-page="home">Home</a></li>
            <li><a href="/about/" data-page="about">About</a></li>
            <li><a href="/events/" data-page="events">Events</a></li>
            <li><a href="/talks/" data-page="talks">Talks</a></li>
            <li><a href="/contact/" data-page="contact">Contact</a></li>
        </ul>
    </div>
</nav>